.side-bar{
    background: #263a41;
    height: 92vh;
    position: sticky;

}








.option{
    padding-left: 10%;
    padding-top: 12%;
    
}
.option p{
    font-weight: bold;
    font-size: 20px;
    color: gray;
    padding: 2%;
    margin: 0;
    /* background: gray; */
}

.option p span{
    padding-left: 10px;
}
.option p:hover{
    background: lightgray;
}


.order{
    background: lightgray;
    padding: 20px;
}
.table{
    padding: 40px;
    border-radius: 10px;
    background: white;
}

.text-order{
    font-size: 40px;
    color: gray;
    font-weight: 700;
}