.image img{
    width: 80%;
    border-radius: 400px;
}
#carouselExampleControls{
    background: url(../../../Image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100%;
    
}
.success{
    padding: 7%;
}
.success h4{
    font-size: 50px;
}
.btn{
    margin-right: 30px;
}
@media (max-width: 700px) {
    .carousel-item .image{
        display: none;
    }
  }
  .btn-brand{
      background: transparent;
      border: 2px solid #263a41;
      color: black;
  }
  .btn-brand:hover{
      background: #263a41;
      color: white;
  }