.image img{
    width: 80%;
    border-radius: 400px;
}
#carouselExampleControls{
    background: url(../../../Image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 100%;
    
}
.success{
    padding: 7%;
}
.btn{
    margin-right: 30px;
}
@media (max-width: 700px) {
    .carousel-item .image{
        display: none;
    }
  }