.review{
    margin: auto;
    position: relative;
    padding-top: 100px;
    text-align: center;
}
.card-details{
    height: 100%;
    overflow: hidden;
}
@media (max-width: 700px) {
    .card-details img{
        display: none;
    }
  }
  .col-md-6{
      margin-bottom: 20px;
  }