.login{
    background-image: url(../../../Image/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 50px;
}
.login-section{
    margin: 10% 10%;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5% 2%;
    background: rgba(140, 73, 247, 0.623);
}
.login-section p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-section input{
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}